#pab {

  font-style: italic;
  color: orange;
  padding-left: 7px;
  padding-right: 7px;
}



#thatswhy {
  color: aqua;
  font-style: bold;
}


#tos, #priv {

  color: green;
  text-decoration: underline;
}
